src/main/mule/Implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<flow name="ImplementationFlow" doc:id="b83649a1-a348-401a-9943-1510c5927e76" >
		<logger level="INFO" doc:name="StartLogger" doc:id="404a079c-2de2-45cc-b027-6f50b81525dd" message='#[%dw 2.0
output application/json
---
{
	
	DebugLogger :"Request Message sent Successfully to Flight Service "
	
}]'/>
		<ee:transform doc:name="Transform Message" doc:id="81dbfe91-b5f1-4fc2-8bbe-c693b439fe42">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.InputDestination as String
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="findFlight" doc:name="Consume_Flight Service" doc:id="68f93837-2168-472c-bc88-9f4b0865674e" config-ref="Web_Service_Consumer_Config" />
		<logger level="INFO" doc:name="EndLogger" doc:id="069932e7-75fa-4926-baa7-9eb8e91eee9c" message='#[%dw 2.0
output application/json
---
{
	
	DebugLogger :"Response Message has been received Successfully from Flight Service "
	
}]'/>
	</flow>
</mule>
